.cabecalho {
  padding: 30px 30px 20px 30px;
  color: white;
  background-color: rgb(39, 43, 51);
}

h2 {
  text-align: center;
  padding-top: 20px;
}

a {
  margin: 0 5px;
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #4288ce;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
}